/.idea/inspectionProfiles/Project_Default.xml
/.idea/uiDesigner.xml
backend/.idea/
.idea/Loan-Project.iml
/.idea/sonarlint/issuestore/2/c/2c108d8b100e44089c7ce24205ccdf23285c4fe4
/.idea/sonarlint/issuestore/4/b/4be0b8c3550f74582d76663ba38fb64e196cc186
/.idea/sonarlint/issuestore/5/d/5d6a83c8074cc207d8db6c725e3dcc4631540a19
/.idea/sonarlint/issuestore/6/b/6bb6d4d249cf33709bb83c10005e2cd575489bcd
/.idea/sonarlint/issuestore/0/0/006a4c3d61f5fb77c38b80c9e5630fd1271ab2a3
/.idea/sonarlint/issuestore/7/a/7afeb5ade2401b7e95ec08f2a45aaff4aca45b9f
/.idea/sonarlint/issuestore/8/c/8cdd0cdca06fd74dfc69741b261b54aefded5c88
/.idea/sonarlint/issuestore/9/b/9baffc560e5a5b3c148ac063bf1182d5d0ed5c51
/.idea/sonarlint/issuestore/9/d/9d988342279160172974e0e5bd7ad73da7a12789
/.idea/sonarlint/issuestore/5/2/52cdcedc531906b01a6d66675cfe5aab380b0c0a
/.idea/sonarlint/issuestore/6/3/63b1afb9e7d346ab845c865b0dcc8a0448e3fca3
/.idea/sonarlint/issuestore/9/1/91ae09188191bc70dc03f024229610ac77f1eabb
/.idea/sonarlint/issuestore/9/2/92f01ce1faf9ba0354ba2b116a72d68e288b0a1b
/.idea/sonarlint/issuestore/4/9/4997c3ae731e06e11795261ba80ebaa56adce711
/.idea/sonarlint/issuestore/4/0/40538ee49be1db3c3f847cd36b2af95333022723
/.idea/sonarlint/issuestore/8/1/81188e5f83966890af0ff8f939cc53e39658fbcb
/.idea/sonarlint/issuestore/5/9/5951668be97df7316018a8531cb8f7208d5001f2
/.idea/sonarlint/issuestore/a/8/a8ec0e523a313053f8b99d4d1fa43f9c59fc57ee
/.idea/sonarlint/issuestore/a/d/ad0d19bebe418ad7e4cb82af74fb0f0122f28c57
/.idea/sonarlint/issuestore/b/9/b9860dac7afaa6f9b432b55c246e669135014bd4
/.idea/sonarlint/issuestore/b/a/ba8946a4ff1df08b589b829a7ab4c013fc9fb8f8
/.idea/sonarlint/issuestore/c/0/c0a47ef8af5c9490f46d5972fe54b690032dda97
/.idea/sonarlint/issuestore/c/0/c09ff6bb8e5e98955d01412ad73067a6ae3d324b
/.idea/sonarlint/issuestore/c/4/c4136ebd229ee530514d4c7c7c8fab96bdbc75af
/.idea/sonarlint/issuestore/e/f/ef536ed188efedece41d606f4b4ddbff68f20afc
/.idea/sonarlint/issuestore/f/3/f33342503f503d80a0fa9344be14858846809cad
/.idea/sonarlint/issuestore/f/e/fefb8bc2442e8607d07776019a4858cac3b77777
/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
/.idea/libraries/Maven__io_springfox_springfox_core_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_schema_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spi_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_web_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger2_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_7_0.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_13.xml
/.idea/libraries/Maven__io_swagger_swagger_models_1_5_13.xml
/.idea/libraries/Maven__org_mapstruct_mapstruct_1_1_0_Final.xml
/.idea/libraries/Maven__org_modelmapper_modelmapper_2_4_4.xml
/.idea/libraries/Maven__org_reflections_reflections_0_9_11.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
